
*{
    font-family: Monaco , ’ DejaVu Sans Mono ’ , monospace ;
 }

 h1 {
 color : blue ;
 }

 h3 {
 font-size : 20px ;
 }

 p > a {
 font-weight : bold ;
 text-decoration : none ;
 }

 #main-menu {
 font-size : 18px ;
 list-style : none ;
 padding : 0px ;
 }

 #main-menu li {
 display : inline ;
 margin : 050px 00;
 }

 #main-menu li a{
     border: 2px solid #0000ff;
     text-decoration: none;
 }
 
 .selected{
     background-color: blue;
     color: white;
 }